<div class="container">
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="text-center" >
      <h1>Joan Currie</h1>
      <h2>Software developer based in Waterloo, Ontario, Canada.</h2>
      <br /><br />
      <a href="https://www.linkedin.com/in/joan-currie/"><img src="/assets/in-b0be6b945ce5399d0e404d7b36b6971b00886992b920793e43335eba0c43d5f5.png" /></a>
      <a href="https://github.com/JECurrie"><img src="/assets/github-78f784328c9d28b19409d0e51978481ec15a14a89f8dde57a2c34c9fe905b0e7.png" /></a>
      <a href="https://stackoverflow.com/users/7003582/joan-currie?tab=profile"><img src="/assets/stack-12a3d5965668be2c8b4281a9fa47a24cced73175fdf1542dd05c0be4268d5bfd.png" /></a><br /><br />
      <a href="https://www.facebook.com/je.currie.33"><img src="/assets/fb-bbb052e566d75e836f00a27ef01915a9c5cf06557dcee451f4baf12099550404.png" /></a>
      <a href="https://twitter.com/joanecurrie"><img src="/assets/twitter-7ca1c0b6df64c9d66e1fc878bf1244508bf6a128332323327a4c006574fc2bbb.png" /></a>
      <a href="https://bitbucket.org/joancurrie/"><img src="/assets/bit-ff213104713576803f389da0c97581659e0bafd2f177fda4f96ab9902ea13d94.png" /></a>
    </div>
</div>

