<div class="container">
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="text-center" >
      <h1>Joan Currie Resume</h1>
</div>
  <h4 style="border-bottom: 1px solid grey;"></h4>


<%= link_to image_tag("in.png"), "https://www.linkedin.com/in/joan-currie/" %>