html {
    font-family: "Calibri", sans-serif;
    font-size: 10px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-inverse {
    background-color: #222;
    border-color: #090909;
}

.text-center {
    text-align: center;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
div {
    display: block;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;
}

#jctitle {
    color: grey;
    list-style-type: none;
}

#jec {
    float: left;
}

h1 {
    color: #333333;
}
a {
    color: white;
}

a:link {
    text-decoration: none;
}

.github {
    color: black;
  }

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    float: right;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;
}

