<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <h1 id="jctitle">

      <ul>
        <li>
          <a href="/">Home</a>
          <a href="/project">Project</a>
          <a href="/resume">Resume</a>
          <a href="/blog">Blog</a>
          <a href="/contact">Contact</a>
        </li>
      </ul>
      </h1> 
    </nav>
  </div>
</header>